name: Build and Test Docker Images

on:
    push:
        branches:
            - main
            - develop
    pull_request:
        branches:
            - main

jobs:
    build-backend:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Build Backend Docker image
              working-directory: ./server
              run: |
                  docker build -t viralprompts-backend:latest .

            - name: Test Backend image
              run: |
                  docker images | grep viralprompts-backend

    build-frontend:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Build Frontend Docker image
              working-directory: ./client
              run: |
                  docker build -t viralprompts-frontend:latest .

            - name: Test Frontend image
              run: |
                  docker images | grep viralprompts-frontend
